{% extends "base.html" %}
{% block content %}
  <h1>{{contest.name}}</h1>
  <h2>Players</h2>
  {% if players %}
  <ul>
    {% for p in players%}
      <li>{{p.name}}</li>
    {% endfor %} 
  </ul>
  {% else %}
  <p>No players yet</p>
  {% endif %}
  {% if session.logged_in and session.user_id == contest.user_id %}
    <a href="/contest/{{contest.id}}/players">Add players</a>
  {% endif %}
  <h2>Games</h2>
  {% if games %}
  <ul>
    {% for g in games %}
      <li>{{g.date}}</li>
    {% endfor %} 
  </ul>
  {% else %}
    <p>No games yet</p>
  {% endif %}
  {% if session.logged_in and session.user_id == contest.user_id %}
    <a href="/contest/{{contest.id}}/games">Add games</a>
  {% endif %}
  {% if players %}
  <h2>Scorecard</h2>
  <table>
    <tr>
      <th></th>
      {% for p in players %}
      <th>{{p.name}}</th>
      {% endfor %} 
    </tr>
    {% for p in players%}
      <tr>
        <td>
        {{p.name}}
        </td>
        {% for p in players %}
        <td>0</td>
        {% endfor %} 
      </tr>
    {% endfor %} 
  </table>
  {% else %}
  <p>No players yet</p>
  {% endif %}
{% endblock %}
