{% extends "base.html" %}
{% block content %}
  <h1>Add game to <a href='/contest/{{contest.id}}'>{{contest.name}}</a></h1>
  {% if players %}
  <h2>Who played?</h2>
  <form action='/contest/{{contest.id}}/games' method='post'>
    <select name='player_one'>
      {% for p in players%}
        <option value='{{p.id}}'>{{p.name}}</option>
      {% endfor %} 
    </select>
    <select name='player_two'>
      {% for p in players%}
        <option value='{{p.id}}'>{{p.name}}</option>
      {% endfor %} 
    </select>
    <label>Date</label><input type='text' name='game_date'></input>
    <input type='submit' value='Add game'></input>
  </form>
  {% else %}
    <p>You'll need to <a href="/contest/{{contest.id}}/players">add players</a> first.</p>
  {% endif %}
  {% if games %}
    <h2>Existing games</h2>
    <ul>
      {% for g in games %}
        <li>{{g.date}}</li>
      {% endfor %} 
    </ul>
  {%else%}
    <p>No games yet</p>
  {%endif%}
{% endblock %}
