{% extends "base.html" %}
{% block content %}
    <h1>Scoreboard</h1>
    <table>
        <tr>
        <th></th>
        {% for player in players %}
        <th>{{player}}</th>
        {% endfor %}
        </tr>
        {% for player in players %}
        <tr>
            <td>{{player}}</td>
            {% for i in game_matrix[loop.index0] %}
            <td>{{ i }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
         <p><a href='/add'>Add new player</a></p>
         <p><a href='/game'>Add game result</a></p>
{% endblock %}
